@model CreateCategoryDTO
@{
    ViewData["Title"] = "Create";

}

<div class="row ml-2 mt-2 mr-2">
    <div class="col-sm-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Category</h3>
            </div>
            <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="CategoryName">Category Name</label>
                        <input class="form-control" asp-for="CategoryName">
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer ">
                    <input type="submit" class="btn btn-success btn-sm " value="Create" />
                    <a asp-action="List" class="btn btn-primary btn-sm float-end ms-2 mb-2">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>

