@model AppUserVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <img src="~/image/constants/logo1.png" />
    <h1 class="display-4"> mr.Admin</h1>
   @* <p> @Model.UserName</p>*@
</div>
